upstream backend_nodes {
    server backend:${BACKEND_PORT};
}

upstream frontend_nodes {
    server frontend:3000;
}

server {
    listen 80;
    server_name localhost;

    # Disable upload size limits for large CSV files
    client_max_body_size 0;

    location ~ ^${API_SUBPATH}/auth($|/.*)$ {
        proxy_pass http://frontend_nodes;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # API Proxy
    location ${API_SUBPATH}/ {
        proxy_pass http://backend_nodes${API_SUBPATH}/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # EventSource (SSE) specific tuning
        proxy_set_header Connection '';
        proxy_buffering off;
        proxy_cache off;
        chunked_transfer_encoding on;
        proxy_read_timeout 86400s;
    }

    # Frontend Proxy
    location / {
        proxy_pass http://frontend_nodes;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Handle Next.js HMR (Hot Module Replacement)
    location /_next/webpack-hmr {
        proxy_pass http://frontend_nodes/_next/webpack-hmr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
