NEXT_PUBLIC_SUPABASE_URL=https://supa.base
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJAbc
JWT_SECRET_KEY=xyz.v

user=supa.cool
password=pass123
host=cf-workers.ny
port=1234
dbname=mydb

broker_url=amqp://some_url
origin_url=https://example.com